name: Check TypeScript

# See: https://docs.github.com/en/actions/reference/events-that-trigger-workflows
on:
  push:
    paths:
      - ".github/workflows/check-typescript-task.yml"
      - ".eslintignore"
      - "**/.eslintrc*"
      - "package.json"
      - "package-lock.json"
      - "Taskfile.yml"
      - "tsconfig.eslint.json"
      - "tsconfig.json"
      - "**.js"
      - "**.jsx"
      - "**.ts"
      - "**.tsx"
  pull_request:
    paths:
      - ".github/workflows/check-typescript-task.yml"
      - ".eslintignore"
      - "**/.eslintrc*"
      - "package.json"
      - "package-lock.json"
      - "Taskfile.yml"
      - "tsconfig.eslint.json"
      - "tsconfig.json"
      - "**.js"
      - "**.jsx"
      - "**.ts"
      - "**.tsx"
  schedule:
    # Run every Tuesday at 8 AM UTC to catch breakage caused by changes to tools.
    - cron: "0 8 * * TUE"
  workflow_dispatch:
  repository_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Task
        uses: arduino/setup-task@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          version: 3.x

      - name: Lint
        run: task ts:lint
